<!doctype html>
<html lang="en">
  <head>
  	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
		
	<link rel="stylesheet" href="/static/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<!-- <div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login #04</h2>
				</div> -->
			</div>
			<div class="row justify-content-center">
                {% if messages %}
                <ul class="messages">
                    {% for msg in messages %}       
                    <li>
                        <div class="alert alert-{{msg.level_tag}}" role="alert">
                            {{msg.message}}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img mt-2 ml-3 mb-5" style="height: 290px !important; width: 380px !important; background-image: url(/static/images/lock.jpg)">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<!-- <p class="mb-4">You can now reset your password<p> -->
			      		</div>
								
			      	</div>
					
                    {% if form %}
				  <form action="{% url 'reset-password' %}" method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<!-- <button class="btn btn-dark">Login</button> -->
					<button style="background-color: #ffae2b !important; border:1px solid#ffae2b !important"  type="submit" class="form-control btn btn-primary rounded submit px-3">Reset Password</button>
					</form>
                    <p class="text-center mt-2">Not a member? <a style="color: #2a454e;" class="" href="{% url 'register' %}">Sign Up</a></p>
                    {% else %}

                        <div class="w-100">
                            <p class="mb-4">You don't have access to the data in this page<p>
                        </div>

                    {% endif %}
		          
				  
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

	</body>
</html>